---
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";

const header = "NASA avec Deno.";
const description =
  "Ce project est un peu différent des autres puisqu'il s'agit d'un project backend avec Deno, et non Node.js.";
const description2 =
  "Grâce à du vanilla HTML, CSS et JavaScript ainsi que Deno pour le Backend, vous pouvez volontiers cloner ce projet depuis GitHub et tenter de planifier votre prochain vol avec SpaceX pour l'espace. Deno se sert d'un API public de la NASA pour enregistrer les planètes potentiellement habitables. En planifiant votre vol vers l'une d'elle, vous participerez au dévelopement spacial et à la recherche scientifique que la mission poursuivera lors de ses longs mois sur la planète de votre choix.";
---

<Layout title="NASA">
  <div class="flex flex-col items-center mb-10 h-full text-justify mx-5">
    <h1
      class="font-gardamondBold text-xl md:text-2xl text-gradientto dark:text-gradientfromlight mb-7"
    >
      {header}
    </h1>
    <Image
      width={500}
      height={500}
      alt="website projekt"
      src="/nasa.png"
      class="rounded-2xl"
      transition:name="image-project"
    />
    <div
      class="md:w-1/2 mt-10 text-center text-base md:text-lg dark:text-gradientfromlight"
    >
      <p class="my-2">{description}</p>
      <p class="my-2">{description2}</p>
    </div>
  </div>
</Layout>
