---
import Buttons from "../../../components/Buttons.astro";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";

const header = "Shopping.";
const description =
  "Diese Website ist eine kommerzielle Website und offensichtlich fiktiv. Das Ziel ist zum Beispiel, Kleidung oder Schuhe zu verkaufen.";
const description2 =
  "Diese Website wurde mit React und JavaScript auf Netlify bereitgestellt. Was das Styling betrifft, habe ich eine Kombination aus CSS (mit Sass) und 'JSX Styled Components' verwendet, um den erstellten Stil in mehreren anderen Komponenten wiederzuverwenden.";
const description3 =
  "Was den 'State' betrifft, habe ich nicht Redux oder Zustand verwendet, sondern direkt den useContext-Hook, der in React integriert ist und gute Ergebnisse liefert. Die Zahlung erfolgt über 'Stripe', aber auch hier wird keine echte Zahlung durchgeführt.";
---

<Layout title="Shopping Website">
  <div class="flex flex-col items-center mb-10 h-full text-justify mx-5">
    <h1
      class="font-gardamondBold text-xl md:text-2xl text-gradientto dark:text-gradientfromlight mb-7"
    >
      {header}
    </h1>
    <Image
      width={500}
      height={500}
      alt="website project"
      src="/verkauf.webp"
      class="rounded-2xl"
      transition:name="image-project"
    />
    <div
      class="md:w-1/2 mt-10 text-center text-base md:text-lg dark:text-gradientfromlight"
    >
      <p class="my-2">{description}</p>
      <p class="my-2">{description2}</p>
      <p class="my-2">{description3}</p>
    </div>

    <div>
      <Buttons
        feature="Github"
        redirect="https://github.com/cbdefontenay/Verkauf-Website"
      />
      <Buttons
        feature="Live"
        redirect="https://crown-verkauf-website.netlify.app/"
      />
    </div>
  </div>
</Layout>
