---
import { Image } from "astro:assets";
import Cyprien from "../../public/portrait.jpg";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="w-full h-full grid grid-cols-1 md:grid-cols-2 mb-32 pt-6 overflow-x-hidden"
>
  <!-- Left Column for Text -->
  <div
    class="slideInLeft flex items-center justify-center ml-8 mb-6 mr-4 md:justify-start p-8 border border-transparent bg-gradient-to-r dark:from-gradientfrom dark:to-gradientto from-gradientfromlight to-gradienttolight rounded-2xl text-animation hover:shadow-md dark:hover:shadow-slate-400 shadow-black transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300"
  >
    <p
      class="text-lg md:text-2xl lg:text-4xl text-tertiary dark:text-black text-center"
    >
      {t("presentation.header")}
    </p>
  </div>

  <!-- Right Column for Image -->
  <div class="flex items-center md:justify-end mx-8">
    <Image
      alt="cyprien de fontenay"
      src={Cyprien}
      height="600"
      width="500"
      class="slideInRight image-animation rounded-xl border dark:border-slate-100 border-transparent hover:shadow-md dark:hover:shadow-slate-100 hover:shadow-slate-900 mb-6"
    />
  </div>
</div>

<style>
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .text-animation {
    animation: slideInLeft 2s ease-in-out;
  }

  .image-animation {
    animation: slideInRight 1s ease-out;
  }
</style>
