---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Impressum">
  <div
    class="h-full flex flex-col items-center justify-start mt-20 ml-10 mb-72 font-gardamondMedium text-lg"
  >
    <h1 class="text-2xl font-extrabold font-gardamondBold hover:underline">
      Adresse:
    </h1>
    <p>Trappenstraße 13</p>
    <p>23558 Lübeck</p>

    <h1 class="text-2xl font-extrabold font-gardamondBold hover:underline mt-6">
      Email:
    </h1>
    <p class="hover:underline hover:text-cyan-400">
      <a href="mailto:cbdefontenay@gmail.com">cbdefontenay@gmail.com</a>
    </p>
  </div>
</Layout>
