---
import Cards from "../../components/Cards.astro";
import Presentation from "../../components/Presentation.astro";
import Layout from "../../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Cyprien de Fontenay">
  <div>
    <Presentation />
    <Cards />
  </div>
</Layout>
